<%- include("partials/header.ejs") %>

<div class="my-5">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="container py-5">
        <h1 class="text-body-emphasis">Everyone has a story to tell</h1>
        <p class="col-lg-8 mx-auto lead">
            We believe that anime is more than just entertainment — it’s a powerful medium of emotion, culture, and creativity. At AnimeVerse, we’re building a space where fans can go beyond simply watching and start expressing. A place where your thoughts, interpretations, and experiences can take the spotlight.

            In a world full of fast takes and short-lived trends, we celebrate passion, perspective, and storytelling. Whether you’re reflecting on your first anime, analyzing character arcs, or recommending hidden gems, your voice adds depth to the community.
            
            Every month, creators, fans, writers, and thinkers come together here to explore what anime means to them. They're students, artists, engineers, and everyday fans—all driven by the same spark: a story they need to share.
            
            We don’t clutter your experience with ads or sell your data. Instead, we’re supported by an ever-growing circle of members who believe in thoughtful, fan-powered content.
            
            If you’re new here, start exploring. Read something that opens your mind—or write something that opens someone else’s.
            Because in the AnimeVerse, your story matters.
        </p>
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>